/* colors and fonts */


body {
	background: rgb(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: 'Lora', serif;
	font-size: 17px;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}
h1 {
	color: #6001D2;
	font-size: 32px;
	font-weight: 500;
}

h2 {
	color: #C74325;
	font-size: 24px;
	font-weight: lighter;
	font-weight: 300;
}

a{
	text-decoration: none;
	color: #1976D2;
	font-weight: bold;
}



/* Custom design with class*/



.container {
	width: 700px;
	margin: 40px auto;
}

@media(max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media(max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;

}


.img-circle {
	border-radius: 50%
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px
}